@import "tailwindcss";


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
}

.hide-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.thin-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.thin-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 10px;
    background-clip: content-box;
}

.thin-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Button Loader */
.loader {
  width: 22px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff 0 0);
  background: var(--c), var(--c), var(--c);
  animation:
    l16-1 1s infinite,
    l16-2 1s infinite;
}

@keyframes l16-1 {
  0%,100% { background-size: 20% 100% }
  33%,66% { background-size: 20% 40% }
}

@keyframes l16-2 {
  0%,33%   { background-position: 0 0, 50% 100%, 100% 0 }
  66%,100% { background-position: 0 100%, 50% 0, 100% 100% }
}
