@import "tailwindcss";


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    cursor: pointer;
}

.hide-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.thin-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.thin-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 10px;
    background-clip: content-box;
}

.thin-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}